@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 12px;
	line-height: 20px;
	/* color-scheme: dark; */
}

body {
	@apply bg-white dark:bg-black text-black dark:text-white text-center duration-300;
}

.prose * {
	@apply dark:text-white;
}

@media only screen and (min-width: 640px) {
	:root {
		font-size: 16px;
		line-height: 24px;
	}
}
